<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="car">
            <h2><span jhiTranslate="carApp.car.detail.title">Car</span> {{car.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="carApp.car.model">Model</span></dt>
                <dd>
                    <span>{{car.model}}</span>
                </dd>
                <dt><span jhiTranslate="carApp.car.company">Company</span></dt>
                <dd>
                    <span>{{car.company}}</span>
                </dd>
                <dt><span jhiTranslate="carApp.car.dateOfProduction">Date Of Production</span></dt>
                <dd>
                    <span>{{car.dateOfProduction}}</span>
                </dd>
                <dt><span jhiTranslate="carApp.car.owner">Owner</span></dt>
                <dd>
                    <div *ngIf="car.owner">
                        <a [routerLink]="['/owner', car.owner?.id, 'view']">{{car.owner?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/car', car.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
