<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="owner">
            <h2><span jhiTranslate="carApp.owner.detail.title">Owner</span> {{owner.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="carApp.owner.firstname">Firstname</span></dt>
                <dd>
                    <span>{{owner.firstname}}</span>
                </dd>
                <dt><span jhiTranslate="carApp.owner.lastname">Lastname</span></dt>
                <dd>
                    <span>{{owner.lastname}}</span>
                </dd>
                <dt><span jhiTranslate="carApp.owner.birthyear">Birthyear</span></dt>
                <dd>
                    <span>{{owner.birthyear}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/owner', owner.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
